<script>
	$('#create-account').formValidation({
        framework: 'bootstrap',
        live: 'disabled',
        icon: {
        	valid: 'fa fa-check-circle fa-lg text-success',
			invalid: 'fa fa-times-circle fa-lg',
			validating: 'fa fa-refresh'
        },
		fields: {
			username: {
				validators: {
					notEmpty: {
						message: 'The Username is required'
					},
					blank: {}
				}
			},
			password: {
				validators: {
					notEmpty: {
						message: 'The Password is required'
					},
					identical: {
						field: 'confirmPassword',
						message: 'The Password and Confirm Password are not the same'
					}
				}
			},
			confirmPassword: {
				validators: {
					notEmpty: {
						message: 'The Confirm Password is required'
					},
					identical: {
						field: 'password',
						message: 'The Password and Confirm Password are not the same'
					}
				}
			},
			name: {
				validators: {
					notEmpty: {
						message: 'The Name is required'
					}
				}
			},
			phoneNumber: {
				validators: {
					notEmpty: {
						message: 'The Phone Number is required'
					},
					regexp: {
                        message: 'The phone number can only contain the digits, spaces, -, (, ), + and .',
                        regexp: /^[0-9\s\-()+\.]+$/
                    }
				}
			},
			email: {
				validators: {
					notEmpty: {
						message: 'The Email is required'
					},
					 emailAddress: {
                            message: 'The input is not a valid email address'
                    },
					blank: {}
				}
			},
		},
	})
	.on('err.field.fv', function(e, data) {
 		if (data.fv.getSubmitButton()) {
 			data.fv.disableSubmitButtons(false);
 	    }
    })
    .on('success.field.fv', function(e, data) {
 	    if (data.fv.getSubmitButton()) {
    		data.fv.disableSubmitButtons(false);
 		}
    })
	.on('success.form.fv', function(e) {
        e.preventDefault();
        var element = $('#create-account');
        var scope = angular.element(element).scope();
        var fv = element.data('formValidation');
        scope.signUp(fv);
    });

</script>
<div class="sign-container">
	
	<div class="sign-header">
		<h1>	
			<span class="brand-title">Bed License Exchange <span class="text-thin">Register</span></span>
		</h1>
	</div>
	<div class="card">
		<div class="panel-body">
			<h3 class="sign-content">Create an account</h3>
			<form id="create-account">
				<div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-user"></i></div>
	                <input type="text" class="form-control" placeholder="Username" name="username" ng-model="appUser.username">
	              </div>
	            </div>
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-key"></i></div>
	                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="appUser.password">
	              </div>
	            </div>
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-key"></i></div>
	                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-model="appUser.confirmPassword">
	              </div>
	            </div>	            
	            <hr>
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-male"></i></div>
	                <input type="text" class="form-control" placeholder="Name" name="name" ng-model="appUser.name">
	              </div>
	            </div>
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
	                <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" ng-model="appUser.phoneNumber">
	              </div>
	            </div>                      
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
	                <input type="text" class="form-control" placeholder="Email" name="email" ng-model="appUser.email">
	              </div>
	            </div>
	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-building"></i></div>
	                <input type="text" class="form-control" placeholder="Company You Work For" name="companyYouWorkFor" ng-model="appUser.company">
	              </div>
	            </div>
<!-- 	            <div class="form-group">
	              <div class="input-group">
	                <div class="input-group-addon"><i class="fa fa-question-circle"></i></div>
	                <input type="text" class="form-control" placeholder="Are you interested in?" name="name">
	              </div>
	            </div> -->
				<div class="form-group has-feedback has-error">
			        <div class="input-group">
			            <div class="help-block">{{actions.message}}</div>
			        </div>
			    </div>
				<button class="btn btn-success btn-lg btn-block" type="submit">
					Sign Up <i class="fa fa-cog" ng-show="actions.isBusy" ng-class="{'fa-spin' : actions.isBusy}"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="sign-footer">
		<a style="cursor: pointer;" class="btn-link mar-rgt" ng-click="goto('app.password-reminder')">Forgot password ?</a>
		<a style="cursor: pointer;" class="btn-link mar-lft" ng-click="goto('app.sign-in')">Sign in</a>
	</div>
</div>