<div class="site">
	<div class="effect site-content">	
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h4 class="text-thin">Circular bullet</h4>

					<div class="timeline">

						<div class="timeline-header">
							<div class="timeline-header-title bg-info">Now</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon"></div>
								<div class="timeline-time">3 Hours ago</div>
							</div>
							<div class="timeline-label">
								<p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a></p>
								<blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon"></div>
								<div class="timeline-time">15:45</div>
							</div>
							<div class="timeline-label">
								<h4 class="text-info text-lg">Lorem ipsum dolor sit amet</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon"></div>
								<div class="timeline-time">13:27</div>
							</div>
							<div class="timeline-label">
								<img class="img-xs img-circle" src="img/av2.png" alt="Profile picture">
								<a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon"></div>
								<div class="timeline-time">11:27</div>
							</div>
							<div class="timeline-label">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-6">
					<h4 class="text-thin">With a circle icon</h4>

					<div class="timeline">

						<div class="timeline-header">
							<div class="timeline-header-title bg-purple">Now</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-warning"><i class="fa fa-comment fa-lg"></i></div>
								<div class="timeline-time">3 Hours ago</div>
							</div>
							<div class="timeline-label">
								<p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a></p>
								<blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i></div>
								<div class="timeline-time">15:45</div>
							</div>
							<div class="timeline-label">
								<h4 class="text-info text-lg">Lorem ipsum dolor sit amet</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-mint"><i class="fa fa-thumbs-up fa-lg"></i></div>
								<div class="timeline-time">13:27</div>
							</div>
							<div class="timeline-label">
								<img class="img-xs img-circle" src="img/av2.png" alt="Profile picture">
								<a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
							</div>
						</div>
						<div class="timeline-entry">
							<div class="timeline-stat">
								<div class="timeline-icon bg-purple"><i class="fa fa-line-chart fa-lg"></i></div>
								<div class="timeline-time">11:27</div>
							</div>
							<div class="timeline-label">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div ui-view="footer" class="site-footer"></div>
</div>